body {
    padding: 0em;
}

#compare {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#beforeMap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#afterMap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#footer {
    position: absolute;
    width: 100%;
    top: 86%;
    z-index: 1500;
}

#label {
    position: absolute;
    width: 100%;
    top: 26%;
}

#labelBefore {
    position: absolute;
    display: none;
    top: 36%;
    left: 3%;
}

#labelAfter {
    position: absolute;
    display: none;
    top: 36%;
    right: 3%;
}

#attr {
    position: absolute;
    width: 30%;
    margin-left: 5%;
    top: 10%;
    display: none;
}

#cancelAttr {
    width: 100%;
}

.tableDisplay {
	height: auto;
    max-height: 400px;
	overflow: auto;
}

.info {
    position: absolute;
    width: 100%;
    top: 10%;
    bottom: 20%;
    text-align: center
}

.upload {
    position: relative;
    overflow: hidden;
}
.upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.shp-modal {
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    /*transform: scale(0.8);
    transition: all 0.02s ease;*/
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2500;
    background: rgba(242, 235, 234, 0.8);
    transition: all 0.09s ease;
}
.effect {
    /*transform: scale(1.0);*/
    visibility: visible;
    /*transition: all 0.02s ease;*/
}
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}

.ui.ribbon.label {
	margin: 15px;
	top: 25px;
}